In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Preprocessing

In [7]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
application_df = pd.read_csv("/content/drive/MyDrive/deep-learning-challenge/Resources/charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [8]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis='columns')
application_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [9]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [10]:
# Look at APPLICATION_TYPE value counts for binning
application_df.value_counts("APPLICATION_TYPE")

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [29]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T13','T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17','T9']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [30]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [32]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [34]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000','C1700','C4000',
                              'C5000','C1270',
                              'C2700','C2800','C7100',
                              'C1300','C1280','C1230',
                              'C1400','C7200','C2300',
                              'C1240','C8000','C7120',
                              'C1500','C1800','C6000',
                              'C1250','C8200','C1238',
                              'C1278','C1235','C1237',
                              'C7210','C2400','C1720',
                              'C4100','C1257','C1600',
                              'C1260','C2710','C0',
                              'C3200','C1234','C1246',
                              'C1267','C1256','C4120',
                              'C8210','C2561','C4500',
                              'C2150','C2570','C1820',
                              'C6100','C1248','C2600',
                              'C1370','C5200','C4200',
                              'C2190','C1236','C2500',
                              'C1580','C3700','C1570',
                              'C1283','C2380','C1732',
                              'C1728','C2170','C1245',
                              'C1900'
                              ]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [35]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 44 columns]

In [38]:
# Split our preprocessed data into our features and target arrays
# Features array
X = application_df.drop(['IS_SUCCESSFUL'], axis='columns')

# Target array
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [39]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [48]:
(X_train).shape

(25724, 43)

## Compile, Train and Evaluate the Model

In [47]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Initialize model
nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Dense(units=86, activation="relu", input_dim=43))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=86, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=43, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 86)                3784

 dense_9 (Dense)             (None, 86)                7482

 dense_10 (Dense)            (None, 43)                3741

 dense_11 (Dense)            (None, 1)                 44

=================================================================
Total params: 15,051
Trainable params: 15,051
Non-trainable params: 0
_________________________________________________________________

In [49]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [50]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5690 - accuracy: 0.7227
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7288
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7313
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7313
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7343
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7336
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7354
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7355
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7368
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7360
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7379
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7360
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7362
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7370
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7369
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7378
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7376
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7365
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7380
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7380
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7385
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7379
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7382
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7398
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7396
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7393
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7384
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7397
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7400
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7395
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7394
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7391
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7395
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7397
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7402
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7395
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7395
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7396
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7400
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7402
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7402
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7405
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7399
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7401
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7408
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7401
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7410
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7407
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7402
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7403
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7410
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7411
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7409
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7406
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7411
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7411
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7403
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7411
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7411
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7406
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7407
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7400
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7405
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7408
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7410
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7413
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7411
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7412
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7414
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7412
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7418
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7414
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7409
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7411
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7410
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7411
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7420
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7416
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7412
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7418
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7409
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7417
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7413
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7412
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7419
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7414
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7421
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7421
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7417
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7425
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7417
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7416
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7418
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7421
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7415
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7414
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7421
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7424
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7418
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7420

In [51]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5717 - accuracy: 0.7261 - 437ms/epoch - 2ms/step
Loss: 0.5716578364372253, Accuracy: 0.726064145565033

In [52]:
# Export our model to HDF5 file
nn.save('/content/drive/MyDrive/deep-learning-challenge/AlphabetSoupCharity.h5')